body{
    margin: auto;
    background-image: url('http://vignette1.wikia.nocookie.net/desperate/images/f/fc/Simpsons_clouds.jpg/revision/latest?cb=20101107201437');
    /* background-size: 95%; */
}
div{
    margin: 20px;
    position: relative;
    vertical-align: top;
}
p {
    position: relative;
    text-align: center;
    width: 100%;
}
button {
    background-color: #FFD90F; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
}

.game-levels, .game-display{
    display: inline-block
}

.game-levels {
    /* border: 2px solid green; */
    width: 250px;
    height: 400px;
    margin-top: 100px;
}

.game-display {
    /* border: 5px solid black; */
    width: 500px;
    height: 400px;
    margin: 50px;
}

.game-buttons {
    /* border: 5px solid blue; */
    width: 400px;
    height: 100px;
    margin: auto;
}

.bg {
    height: 90%;
    width: 90%;
    position: relative;
}
.gif {
    height: 40%;
    width: 40%;
    top: 100px;
    left: 100px;
    position: absolute;
}
#feed, #play, #rest {
    margin: 0 10px 10px 10px;
    font-weight: bold;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* #feed{ */
    /* background-color: #F14E28;
}
#play{
    background-color: #FFD90F;
}
#rest{
    background-color: #11bb66; */
/* } */